@import "../../scss/variables.scss";

.qiaozui_tree{

}

.qiaozui_tree_node{
    line-height: normal;
}


.qiaozui_tree_node_content{
    padding: 10px 0;
    cursor: pointer;
}
.qiaozui_tree_node_content:hover,
.qiaozui_tree_node.selected>.qiaozui_tree_node_content{
    background-color: $ywpui-light;
}

.qiaozui_tree_node .qiaozui_tree_node_children{
    padding: 0 0 0 20px;
}