.ywpui_checkbox__ {
    height: 36px;
    line-height: 36px;
    overflow: hidden;
    color: #333;
    font-size: 14px;
}

.ywpui_checkbox_ico__ {
    display: inline-block;
    position: relative;
    top: 4px;
    width: 18px;
    height: 18px;
    background: url(../img/checkbox.png) no-repeat center;
}

.ywpui_checkbox_ico_on__ {
    background: url(../img/checkboxed.png) no-repeat center;
}
.ywpui_checkbox_label{
    margin-left: 12px;
    display: inline-block;
}