.ywpui_datepicker{
    display: inline-block;
    border: 1px solid #cccccc;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    background: url(../img/date_ico.jpg) no-repeat;
    background-position: 10px 50%;    
    padding: 0 10px 0 30px;
}
.ywpui_datepicker:focus{
    border-color: #15cc96;
}
.ywpui_datepicker.error{
    border-color: #f36f5d;
}

.ywpui_datepicker.disabled, .ywpui_datepicker.disabled input{
    background-color: #ddd;
    cursor: not-allowed!important;
}

.ywpui_datepicker .rc-calendar-today .rc-calendar-date{
    border: 1px solid #e5f7f5;
}

.ywpui_datepicker .rc-calendar-selected-date .rc-calendar-date{
    background: #14cc95;
    color: #fff;
}
.ywpui_datepicker .rc-calendar-selected-day .rc-calendar-date{
    background: #e5f7f5;
}

.ywpui_datepicker_calendar{
    display: inline-block;
    outline: none;
}
.ywpui_datepicker_calendar:hover{
    color: #333;
}

.ywpui_datepicker input{
    width: 100%;
    height: 34px;
    line-height: 34px;
    background-color: #fff;
    outline: 0;
    font-size: 14px;
    border: 0px;
    color: #333;
}

.ywpui_datepicker_range_calendar{
    text-align: left;
    overflow: visible;
    background: #fff;
    border: solid 1px #ddd;
    box-sizing: border-box;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    font-size: 14px;
    width: 610px;
}
.ywpui_datepicker_range_calendar .rc-calendar{
    box-shadow: none;
}
.ywpui_datepicker_range_calendar_menu a{
    display: block;
    padding: 5px 10px;
}