.ywpui_radio__ {
    margin-right: 38px;
    height: 36px;
    line-height: 36px;
    overflow: hidden;
    color: #333;
    font-size: 14px;
}

.ywpui_radio_ico {

    display: inline-block;
    margin-right: 12px;
    width: 12px;
    height: 12px;
    background: url(../img/radio.png) no-repeat center;

}

.ywpui_radio_ico_on {

    display: inline-block;
    margin-right: 12px;
    width: 12px;
    height: 12px;
    background: url(../img/radioed.png) no-repeat center;

}