.ywpui_textbox {
    width: 100%;
    background: #ffffff;
    border: 1px solid #cccccc;
    box-sizing: border-box;
    padding: 1px;
    position: relative;
    line-height: 34px;
}

.ywpui_textbox.error{
    border: 1px solid #f36f5d;
}
.ywpui_textbox.focused{
    border: 1px solid #15cc96;
}
.ywpui_textbox input {
    width: 100%;
    height: 34px;
    background-color: #fff;
    outline: 0;
    font-size: 14px;
    border: 0px;
    color: #333;
    padding: 0 10px;
}

.ywpui_textbox.disabled, .ywpui_textbox.disabled input{
    background-color: #ddd;
    cursor: not-allowed!important;
}