
.qiaozui_table__.qiaozui_table_small{
    font-size: 12px;
}
.qiaozui_table_small .qiaozui_table_header_cell, .qiaozui_table_small .qiaozui_table_cell{
    padding: 2px 5px;
    height: 30px;
}


.qiaozui_table_large .qiaozui_table_header_cell, .qiaozui_table_large .qiaozui_table_cell{
    padding: 5px 10px;
    height: 50px;
}